kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ _sonarqube_name }}-pvc"
  namespace: "{{ _sonarqube_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _sonarqube_volume_size }}"
