kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ nexus_ocp_name }}-pvc"
  namespace: "{{ nexus_ocp_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ nexus_ocp_volume_size }}"
