kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ _nexus_name }}-pvc"
  namespace: "{{ _nexus_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _nexus_volume_size }}"
