kind: Route
apiVersion: route.openshift.io/v1
metadata:
  annotations:
    console.alpha.openshift.io/overview-app-route: "false"
  name: "{{ nexus_ocp_name }}-registry"
  namespace: "{{ nexus_ocp_namespace }}"
  labels:
    app: "{{ nexus_ocp_name }}"
spec:
{% if nexus_ocp_registry_route|d("") != "" %}
  host: "{{ nexus_ocp_registry_route }}"
{% endif %}
  to:
    kind: Service
    name: "{{ nexus_ocp_name }}-registry"
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
