kind: Service
apiVersion: v1
metadata:
  name: "{{ nexus_ocp_name }}-registry"
  namespace: "{{ nexus_ocp_namespace }}"
  labels:
    app: "{{ nexus_ocp_name }}"
spec:
  selector:
    app: "{{ nexus_ocp_name }}"
  ports:
  - name: "nexus-registry-tcp"
    port: 5000
    protocol: TCP
    targetPort: 5000
  sessionAffinity: None
  type: ClusterIP
