kind: Route
apiVersion: route.openshift.io/v1
metadata:
  annotations:
    console.alpha.openshift.io/overview-app-route: "true"
  name: "{{ _nexus_name }}"
  namespace: "{{ _nexus_namespace }}"
  labels:
    app: "{{ _nexus_name }}"
spec:
{% if _nexus_route|d("") != "" %}
  host: "{{ _nexus_route }}"
{% endif %}
  to:
    kind: Service
    name: "{{ _nexus_name }}"
{% if _nexus_ssl|d(False)|bool %}
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
{% endif %}
