kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ _gogs_name }}-pvc"
  namespace: "{{ _gogs_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _gogs_volume_size }}"
